/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Cc]ode[Cc]overage/
/[Pp]rojectSettings/EditorBuildSettings.asset
/[Pp]rojectSettings/ProjectSetting.asset
/[Pp]rojectSettings/BurstAotSettings_Android.asset
/[Pp]rojectSettings/TimelineSettings.asset
/UMotionData/

/.vs/*
*.csproj
/ArtPackages
/BuiltTemp
/*.csproj
/.vs
/*.sln
/Packages/packages-lock.json
/Assets/_Art/genericAnim.meta
/Assets/_Art/genericAnim
/Assets/_Art/Cache
/ABTest
/Assets/FR2_Cache.asset
/Assets/FR2_Cache.asset.meta
